<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ggpl.bnilucknow">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bnilucnkowlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bnilucnkowlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BNILucknow">
        <activity
            android:name=".EmeraldActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MaestrosActivity"
            android:exported="false" />
        <activity
            android:name=".MavericksActivity"
            android:exported="false" />
        <activity
            android:name=".ProsperityChapterActivity"
            android:exported="false" />
        <activity
            android:name=".ApexChapertActivity"
            android:exported="false" />
        <activity
            android:name=".PrimeChapterActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Chapter_Member_Activity2"
            android:exported="false" />
        <activity
            android:name=".New_BNI_sActivity2"
            android:exported="false" />
        <activity
            android:name=".BNI_Chapters_Activity2"
            android:exported="false" />
        <activity
            android:name=".Menber_Pin_Activity2"
            android:exported="false" />
        <activity
            android:name=".Event_Activity2"
            android:exported="false" />
        <activity
            android:name=".Gallery_Detail_Activity2"
            android:exported="false" />
        <activity
            android:name=".BNILucknowGallery_Activity2"
            android:exported="false" />
        <activity
            android:name=".CategoeryActivity2"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>